* {
  font-family: "lato", Badaboom;
  font-weight: bold, italic;
}

body {
  background: #000000;

  color: #ffffff;
  margin-top: 20px;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}
